html {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.53;
  margin: 0 auto;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.topbar {
  background-color: #30302F;
  width: 100%;
}

.navbar {
  width: 1000px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #30302F;
}

.topbar nav a{
   color: #d6d6d6;
   font-size: 0.8em;
 }

.topbar nav a:hover{
   color: #FFFFFF;
   text-decoration: none;
 }

h1 {
   color: #333333;
   text-align: center;
   font-size: 48px;
   line-height: 1.041666667;
   letter-spacing: .006em;
 }

 .mainBanner {
   position: relative;
   background-image: url(https://support.apple.com/content/dam/edam/applecare/images/en_US/homepage/hero-banner-homepage.image.large_2x.jpg);
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 540px;
   max-height: 690px;
   width: 1800px;
   display: block;
   text-align: center;
   margin-left: -350px;
 }

 .title {
   padding-top: 4em;
   margin-left: 350px;
 }

 .searchbar {
   padding-top: 1.5em;
   margin-left: 350px;
 }

 input {
   border: 1px solid #dedede;
   border-radius: 3px;
   height: 3.25rem;
   width: 45%;
 }

 .logoLinks {
   padding: 58px;
   text-align: center;
 }

 .logoLinks img {
   width: 68px;
   height: 68px;
 }

 .logoLinks a{
   color: #333333;
 }

 .col {
   padding: 0 12px;
   margin-bottom: 48px;
 }

 .facetime,
 .safetyFeatures,
 .support,
 .appleCare,
 .repairs,
 .giftcard {
   display: flex;
   padding-bottom: 48px;
   justify-content: center;
   margin-top: 48px;
 }

 .facetime img {
   width: 400px;
   height: 258px;
 }

 h2 {
   font-size: 40px;
   font-weight: 500;
 }

 .txtbox {
   width: 400px;
   text-align: left;
 }

 .giftcard .txtbox {
   width: 600px;
   padding-left: 25px;
 }

 .safetyFeatures img {
   width: 400px;
   height: 258px;
 }

 .learn {
   display: flex;
   justify-content: center;
   margin-top: 48px;
   padding-bottom: 48px;
 }

 .box1 {
   width: 450px;
   margin: 48px;
 }

 h3 {
   font-size: 24px;
 }

 .counterfeit {
   width: 800px;
   text-align: center;
 }

 .extensionLinks {
   text-align: center;
   line-height: 2rem;
   padding-bottom: 48px;
 }

 .extensionLinks ul {
   list-style: none;
 }

 .footer {
   background-color: #F2F2F2;
   width: 100%;
   font-size: 11px;
 }

 .footer h4{
   font-size: 12px;
 }

 .top {
   display: flex;
   float: left;
   padding-left: 100px;
   margin: 30px 0 30px 0;
 }

 .bottom {
   display: flex;
   float: left;
   padding-left: 100px;
   justify-content: center;
   line-height: 1.5em;
 }

 .bottom ul {
   list-style: none;
   text-align: left;
 }

 .bottom a {
   color: #555;
 }

 .bottom h4{
   color: #333333;
 }

 .legal {
   display: flex;
   padding-top: 48px;
 }

 .legal a {
   color: #555;
 }

.legal p{
  font-size: 0.5em;
}

.copyright {
  font-size: 21px;
  color: #888;
}

.legalLinks a {
  padding: 0 3px;
}

.locale {
  float: right;
}
